In [17]:
#import libraries
!pip install kaggle
import kaggle

Requirement already satisfied: kaggle in c:\users\cheta\anaconda3\lib\site-packages (1.7.4.2)
Requirement already satisfied: bleach in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (2025.1.31)
Requirement already satisfied: charset-normalizer in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (3.3.2)
Requirement already satisfied: idna in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (3.7)
Requirement already satisfied: protobuf in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (4.25.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (75.1.0)
Requirement already satisfied: six>=1.10 in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: webencodings in c:\users\cheta\anaconda3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\users\cheta\anaconda3\lib\site-packages (from bleach->kaggle) (24.1)
Requirement already satisfied: colorama in c:\users\cheta\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [23]:
#Download dataset using kaggle api
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0

In [31]:
#extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()   #extract dile to dir
zip_ref.close()    #close file

In [42]:
# read data from file 
!pip install pandas
import pandas as pd
df=pd.read_csv('orders.csv')
df.head(10)

Requirement already satisfied: pandas in c:\users\cheta\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\cheta\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cheta\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cheta\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cheta\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\cheta\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [57]:
# handle null values

#df['Ship Mode'].unique()  -- unique value in given column

df=pd.read_csv('orders.csv', na_values=['Not Available', 'unknown']) 
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [121]:
# rename column names, make them lower case and replace space with underscore

#df.rename(columns={'Order Id':'order_id','Ship Mode':'ship_mode'}) -- not possoble for many columns

# df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [282]:
#Derive new columns- discount, sale price and profit

#df['discount']= df['list_price']*df['discount_percent']*0.01

#df['sale'] = df['list_price']-df['discount']

#df['profit'] = df['sale']- df['cost_price']
df = df.rename(columns={'sale': 'sale_price'})

df.head(1)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8

In [284]:
# Convert order date from object datatype to date type

df['order_date'] = pd.to_datetime(df['order_date'],format="%y-%m-%d")

df.dtypes

order_id                 int64
order_date      datetime64[ns]
ship_mode               object
segment                 object
country                 object
city                    object
state                   object
postal_code              int64
region                  object
category                object
sub_category            object
product_id              object
quantity                 int64
discount               float64
sale_price             float64
profit                 float64
dtype: object

In [286]:
#drop cost price, list price and discount percent columns

#df.drop(columns=['cost_price','list_price','discount_percent'],inplace=True)
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [179]:
#load the data into sql server using replace option

!pip install mysql-connector-python
import pandas as pd
from sqlalchemy import create_engine

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   - -------------------------------------- 0.8/16.4 MB 3.7 MB/s eta 0:00:05
   -- ------------------------------------- 1.0/16.4 MB 2.1 MB/s eta 0:00:08
   --- ------------------------------------ 1.6/16.4 MB 2.5 MB/s eta 0:00:06
   ---- ----------------------------------- 1.8/16.4 MB 2.0 MB/s eta 0:00:08
   ------ --------------------------------- 2.6/16.4 MB 2.3 MB/s eta 0:00:06
   -------- ------------------------------- 3.4/16.4 MB 2.5 MB/s eta 0:00:06
   ---------- ----------------------------- 4.5/16.4 MB 2.8 MB/s eta 0:00:05
   ------------ --------------------------- 5.2/16.4 MB 2.9 MB/s eta 0:00:04
   -------------- ------------------------- 6.0/16.4 MB 3.0 MB/s eta 0:00:04
   --------------- ------------------------ 6.3/16.4 MB 2.9 MB/s eta 0:00:04
   ----------------- ---------------------- 7.1/16.4 MB 2.9 MB/s eta 0:00:04
   ------------------- -------------------- 7.9/16.4 MB 3.0 MB/s eta 0:00:03
   ------------------- -------------------- 8.1/16.4 MB 3.0 MB/s eta 0:00:03
   ---------------------- ----------------- 9.2/16.4 MB 2.9 MB/s eta 0:00:03
   ------------------------- -------------- 10.5/16.4 MB 3.2 MB/s eta 0:00:02
   ----------------------------- ---------- 12.1/16.4 MB 3.4 MB/s eta 0:00:02
   -------------------------------- ------- 13.4/16.4 MB 3.6 MB/s eta 0:00:01
   ---------------------------------- ----- 14.2/16.4 MB 3.6 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.4 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 3.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [187]:
!pip install pymysql
import pymysql
print("PyMySQL installed successfully!")

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
PyMySQL installed successfully!

In [260]:
# Step 2: Connect to MySQL
# Replace with your actual connection details
connection_string = "mysql+mysqlconnector://root:password@localhost:3306/dbconnection"
engine = create_engine(connection_string)
conn = engine.connect()
print("Connected to MySQL")

Connected to MySQL

In [290]:
# Step 3: Load data using pandas to mysql with replace method
#df.to_sql('orders.csv', con=engine, if_exists='replace', index=False)
df.to_sql('df_orders', con=engine, if_exists='append', index=False)

9994

In [292]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')